HOST_URL=https://robertinglin.github.io/party-p2p/

# Optional host defaults:
# ROOM=rooftop-disco
# TITLE=Rooftop Disco
# DATE=2026-06-20
# TIME=8:00 PM
# LOCATION=Brooklyn rooftop
# ROOM_SECRET=
# ICE_SERVERS=stun:stun.l.google.com:19302
